
img
{
	border: 0px;
}

i, em
{
	font-style: italic;
}

body
{
	font-family: 'helvetica';
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	color: #000000;
	z-index: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas
{
	position: relative;
	overflow: hidden;
}

	.item
	{
		position: absolute;
		z-index: 100;
		width: 300px;
		height: 346px;
		display: none;
	}
	
	.item_quad
	{
		width: 150px;
		height: 174px;
	}
	
	.continent_center
	{
		line-height: 346px;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		display: block;
		color: rgba(0,0,0,0.5);
	}
	
	.rotated
	{
		z-index: 99;
		-webkit-transform: scaleX(-1);
		-moz-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	

		.item_overlay
		{
			width: 100%;
			height: 100%;
			background-position: 1px 1px;
			background-size: 298px 344px;
			background-repeat: no-repeat;
			width: 300px;
			height: 346px;
			position: absolute;
			z-index: 1000;
		}
		
		.quad .item_overlay
		{
			background-size: 148px 172px;
			width: 148px;
			height: 172px;
		}
		
			.id_helper
			{
				display: none;
				position: absolute;
				line-height: 346px;
				width: 100%;
				text-align: center;
				font-size: 20px;
				font-weight: bold;
				z-index: 10000;
			}
			
			.rotated .id_helper
			{
				z-index: 1000;
				-webkit-transform: scaleX(-1);
				-moz-transform: scaleX(-1);
				-ms-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				transform: scaleX(-1);
			}
			
			.quad .id_helper
			{
				line-height: 174px;
				
			}
		
			.inactive
			{
				z-index: 101;
				background-position: 0px 0px;
				background-size: 300px 346px;
				background-repeat: no-repeat;
				background-image: url('../img/item_overlays/inactive2.png');	
			}
			
			.quad .inactive
			{
				background-size: 150px 174px;
			}
		
			.item_overlay.selected
			{
				display: none;
				z-index: 101;
			}
			
			.item_overlay.selected0
			{
				background-image: url('../img/item_overlays/selected_0.png');		
			}
			
			.item_overlay.selected1
			{
				background-image: url('../img/item_overlays/selected_1.png');		
			}
			
			.item_overlay.selected2
			{
				background-image: url('../img/item_overlays/selected_2.png');		
			}
			
			.original
			{
				background-position: 1px 1px;
				background-size: 298px 344px;
				background-repeat: no-repeat;
				z-index: 100;
			}
			
			.quad .original
			{
				background-size: 148px 172px;
			}
			
			.blur
			{
				position: absolute;
				left: -100px;
				top: -100px;
				background-position: 0px 0px;
				background-size: 498px 544px;
				background-repeat: no-repeat;
				width: 500px;
				height: 548px;
				display: none;
				z-index: 100;
			}
			
			.quad .blur
			{
				background-size: 348px 372px;
				width: 350px;
				height: 374px;
			}


	#center
	{
		position: absolute;
		z-index: 1000;
		text-align: center;
		width: 500px;
		height: 300px;
	}	

		#center_logo
		{
			position: relative;
			width: 150px;
			height: auto;
		}
		
		#center_text
		{
			position: relative;
			margin-top: 25px;
			font-size: 17px;
			
		}
			
#viewport
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
	
}

	.direction_pointer
	{
		position: fixed;
		font-size: 20px;
		font-weight: bold;
		z-index: 5000;
		cursor: pointer;
		text-transform: uppercase;
	}
	
		#direction_pointer_program
		{
			top: 50px;
			right: 50px;
		}
		
		#direction_pointer_collection
		{
			top: 50px;
			left: 50px;
		}
		
		#direction_pointer_production
		{
			bottom: 50px;
			left: 50px;
		}
		
		#direction_pointer_academy
		{
			bottom: 50px;
			right: 50px;
		}

		
#bottom_menu
{
	position: fixed;
	bottom: 50px;
	width: 800px;
	left: 0px;
	text-align: center;
	overflow: hidden;
	z-index: 4500;
	line-height: 30px;
	display: table;
}

	.bottom_menuitem
	{
		position: relative;
		font-size: 15px;
		cursor: pointer;
		line-height: 30px;
		vertical-align: middle;
		display: table-cell;
		overflow: hidden;
		width: 200px;
	}
	
		#bottom_menu .share img
		{
			position: relative;
			width: 22px;
			height: 22px;
			margin-right: 5px;
			top: 4px;
		}
		
	
		
#menu_container
{
	position: fixed;
	left: 50px;
	height: 100%;
	display: none;
	z-index: 10000;
}

	#menu_logo
	{
		position: absolute;
		left: 0px;
		top: 50px;
		background-image: url('../img/tba_logo.png');
		background-size: 100% 100%;
		width: 62px;
		height: 87px;
		cursor: pointer;
	}

	#menu
	{
		position: absolute;
		left: 0px;
		top: 192px;
	}
	
		#menu_button
		{
			position: relative;
			top: 0px;
			left: 0px;
			width: 22px;
			height: 22px;
			cursor: pointer;
			background-image: url('../img/menuicon.png');
			background-size: 22px 22px;
		}
	
		.continent_menu
		{
			position: relative;
			color: #ffffff;
			overflow: hidden;
			margin: 10px 0px;
		}
	
			.continent_menu_header
			{
				position: relative;
				font-weight: bold;
				overflow: hidden;
			}
				
				.continent_menu_header span
				{
					padding: 5px 5px;
					background-color: #000000;	
					cursor: pointer;
					text-transform: uppercase;
					float: left;
					font-size: 16px;
				}
				
				.mainmenu_closed::after
				{
					margin-left: 5px;
					content: url('../img/mainmenu-closed.png');
				}
				
				.mainmenu_open::after
				{
					margin-left: 5px;
					margin-top: -2px;
					content: url('../img/mainmenu-open.png');
				}
			
			.continent_menu_items
			{
				position: relative;
				list-style-type: none;
				margin: 0px;
				padding: 0px;
				max-height: 0px;
				height: auto;
			}
			
				.continent_menu_items.static
				{
					max-height: 500px;
				}
			
				.continent_menu_item
				{
					
					overflow: hidden;			
				}
				
					.continent_menu_item span
					{
						background-color: #000000;
						padding: 5px 5px;
						cursor: pointer;
						float: left;
						font-size: 14px;
					}
				

					
#content_container
{
	position: fixed;
	width: 1000px;
	height: 100%;
	z-index: 6000;
	top: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
}

	#content_fade
	{
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0.95;
		z-index: 5500;
		background-color: #ffffff;
		display: none;
	}
	
	#content_loading
	{
		position: relative;
		width: 900px;
		padding: 50px 50px;
		background-color: #ffffff;
		margin-left: auto;
		margin-right: auto;
		z-index: 6000;
		height: 500px;
	}
	
		#content_loading img
		{
			width: 80px;
			height: 80px;
			margin-left: 410px;
			margin-top: 210px;
		}
		
	#content_navigation
	{
		position: relative;
		width: 900px;
		padding: 50px 50px 0px 50px;
		height: 25px;
		background-color: #ffffff;
	}
	
		#content_navigation_menu
		{
			position: relative;
			float: left;
			height: 25px;
		}
		
			.content_navigation_menu_item
			{
				position: relative;
				float: left;
				width: 25px;
				height: 25px;
				margin-right: 5px;
				text-align: center;
				cursor: pointer;
			}
				
				.content_navigation_menu_item img
				{
					position: relative;
					height: 25px;
					vertical-align: middle;
				}
			
			.content_navigation_menu_item:last-child
			{
				margin-right: 20px;
			}
			
	
		#content_navigation_nav
		{
			position: relative;
			float: left;
			line-height: 25px;
		}
		
			.navarrow
			{
				margin: 0px 5px;
				font-weight: bold;
			}
			
			.navarrow:first-child
			{
				margin-left: 0px;
			}
			
			.navpoint:hover
			{
				text-decoration: underline;
				cursor: pointer;
			}
		
		#content_navigation_buttons
		{
			position: relative;
			float: right;
			line-height: 25px;
		}
		
			.content_navigation_button
			{
				position: relative;
				float: right;
				width: 25px;
				height: 25px;
				cursor: pointer;
				margin-left: 5px; 
			}
			
			.content_navigation_button img
			{
				position: relative;
				width: 25px;
				height: 25px;
				vertical-align: middle;
			}
		
		
	#content_search
	{
		position: relative;
		width: 900px;
		padding: 0px 50px 0px 50px;
		z-index: 6000;
		height: 0px;
		background-color: #ffffff;
		overflow: hidden;
	}	
	
		#content_search_input
		{
			position: relative;
			padding: 2px 3px;
			border: solid 1px #000000;
			width: 437px;
			height: 25px;
			float: left;
			margin: 0px;
			margin-right: 25px;
		}
					
			#content_search_input[type="text"] 
			{
				outline: none;
			}
		
		#content_search_button
		{
			position: relative;
			float: left;
			width: 120px;
			text-align: center;
			background-color: #000000;
			color: #ffffff;
			font-size: 13px;
			line-height: 25px;
			cursor: pointer;
			margin-right: 317px;
		}
		
		#content_search_filters
		{
			position: relative;
			float: left;
			width: 900px;
			height: 25px;
			overflow: hidden;
			margin-top: 5px;
		}
		
			.content_search_filter
			{
				position: relative;
				float: left;
				margin-right: 25px;
				width: 206px;
				text-align: left;
				height: 25px;
			}
			
				#foo:checked::before,
				.content_search_filter input[type="checkbox"] 
				{
				    position: absolute;
				    clip: rect(0,0,0,0);
				    clip: rect(0 0 0 0);
				}
				
				#foo:checked,
				.content_search_filter input[type="checkbox"] + label::before {
				    content: url('../img/radio_false.png');
					margin-right: 3px;
					float: left;
				}
				
				.content_search_filter input[type="checkbox"]:checked + label::before {
				    content: url('../img/radio_true.png');
				}

				.content_search_filter label
				{
					position: relative;
					display: block;
					line-height: 25px;
					float: left;
				}
				
		

	#content
	{
		position: relative;
		width: 900px;
		padding: 15px 50px 50px 50px;
		background-color: #ffffff;
		margin-left: auto;
		margin-right: auto;
		z-index: 6000;
		display: none;
	}
	
		#content_headline
		{
			position: relative;
			font-size: 30px;
			border-bottom: solid 1px #000000;
			margin-bottom: 15px;
			font-weight: bold;
		}
		
		#content_header
		{
			position: relative;
			width: 900px;
			margin-bottom: 15px;
		}
		
			#content_header img
			{
				position: relative;
				width: 100%;
				vertical-align: middle;
			}
			
			#content_header_credits
			{
				position: relative;
				widht: 100%;
				text-align: right;
				font-size: 10px;
				margin-top: 5px;
			}
			
		#content_description
		{
			position: relative;
			margin-bottom: 15px;
			overflow: hidden;
		}	
		
			#content_description span
			{
				position: relative;
				padding: 4px 6px;
				background-color: #000000;	
				color: #ffffff;
				display: inline-block;
			}
			
		#content_columns
		{
			position: relative;
			overflow: hidden;
			margin-bottom: 15px;
		}	
		
		.content_column
		{
			position: relative;
			float: left;
			width: 438px;
		}
		
		#content_column_left
		{
			margin-right: 25px;
			width: 437px;
		}
		
			#content_column_left .module
			{
				width: 437px;
			}
		
			#content_column_right .module
			{
				width: 438px;
			}		
		
		.module
		{
			position: absolute;
			line-height: 14px;
		}
		
			.module a
			{
				color: inherit;
			}
		
			.module_text
			{
				font-size: 12px;
				color: #000000;	
				z-index: 1000;
				line-height: 14px;
			}
			
			.module_image
			{
				z-index: 100;
			}
						
				.module_image img
				{
					vertical-align: middle;
					max-width: 100%;
				}
				
				.module_image input
				{
					display: none;
				}
				
			.module_2col_image
			{
				z-index: 100;
				width: 900px;
			}
						
				.module_2col_image img
				{
					vertical-align: middle;
					max-width: 900px;
				}
				
				.module_2col_image input
				{
					display: none;
				}	
			
			.module_bulletpoint
			{
				overflow: hidden;
				font-size: 12px;
				z-index: 1000;
			}
			
				.enum_head
				{
					float: left;	
					width: 125px;
				}
				
					.enum_head span
					{
						padding: 4px 4px;
						background-color: #000000;
						color: #ffffff;
						float: left;
						text-transform: uppercase;
					}
				
				.enum_body
				{
					float: left;
					width: 302px;
					padding-top: 4px;
					margin-left: 10px;
				}
				
			.module_video
			{
	
			}	
			
				.module_video_iframe
				{
					width: 437px;
					height: 246px;
					z-index: 100;
					vertical-align: middle;
				}
				
				#col_right .module_video_iframe
				{
					width: 438px;
				}
				
				.module_video_overlay
				{
					position: absolute;
					width: 437px;
					height: 246px;
					z-index: 1000;
				}
				
				#col_right .module_video_overlay
				{
					width: 438px;
				}
				
			.module_html
			{
	
			}
			
				.module_html_overlay
				{
					position: absolute;
					width: 437px;
					height: 100%;
					z-index: 1000;
				}
				
				#col_right .module_html_overlay
				{
					width: 438px;
				}
				
				.module_html_content
				{
					z-index: 100;
				}

				.module_html_content:empty:not(:focus):before
				{
				    content: attr(data-text);
					color: #cecece;
					font-weight: bold;
				}
				
				
			#module_html_container
			{
				display: none;
			}	
				
			.module_headline
			{
				font-size: 12px;	
				display: inline-block;
			}	
				
				.module_headline span
				{
					position: relative;
					padding: 2px 6px;
					background-color: #000000;
					color: #ffffff;
					display: inline-block;
				}

			.module_download 
			{
	
			}

				.module_download a 
				{
					color: inherit;
					text-decoration: none;
				}
				
				.module_download_field
				{
					position: relative;
					padding: 2px 6px;
					background-color: #000000;
					color: #ffffff;
					display: inline;
					font-size: 12px;
					text-transform: uppercase;
				}

			.module_store
			{
				
			}	

				.module_store_text
				{
					font-size: 12px;	
					border-bottom: solid 1px #000000;
					text-transform: uppercase;
					padding-bottom: 1px;
					margin-bottom: 10px;
					line-height: 14px;
				}
				
				.module_store_button
				{
					position: relative;
					padding: 2px 6px;
					background-color: #000000;
					color: #ffffff;
					display: inline;
					font-size: 12px;
					margin-right: 10px;
					cursor: pointer;
					
				}	
				
				.module_store_cart
				{
					margin-left: 4px;
				}	
				
						
						
		#content_related
		{
			position: relative;
			overflow: hidden;
		}
		
			#content_related_header
			{
				position: relative;
				font-size: 15px;
				border-bottom: solid 1px #000000;
				margin-bottom: 10px;
			}
			
			#content_related_tags
			{
				position: relative;
				overflow: hidden;
				margin-bottom: 10px;
				width: 908px;
				margin-left: -4px;
			}
			
				#content_related_tags span
				{
					padding: 4px 4px;
					background-color: #000000;	
					color: #ffffff;
					font-size: 12px;
					text-transform: uppercase;
					cursor: pointer;
					display: inline-table;
					margin: 2px 4px;
				}
				
				#content_related_tags span:hover
				{
					text-decoration: underline;
				}
					
			#content_related_items
			{
				position: relative;
				overflow: hidden;
			}		

				.content_related_item
				{
					position: relative;
					float: left;
					width: 206px;
					margin-right: 25px;
					height: 160px;
					cursor: pointer;
					margin-bottom: 25px;
					overflow: hidden;
					text-align: center;
				}
				
				.content_related_item:nth-child(4n)
				{
					margin-right: 0px;
				}
				
				.content_related_item img
				{
					position: relative;
					vertical-align: middle;
					max-width: 100%;
					max-height: 100%;
				}
				
				.content_related_item_overlay
				{
					position: absolute;
					bottom: -200px;
					background-color: rgba(0, 0, 0, 0.8);
					color: #ffffff;
					padding: 10px 15px 5px 15px;
					width: 176px;
				}
				
					.content_related_item_overlay_headline
					{
						font-size: 10px;
						font-weight: bold;
						text-transform: uppercase;
					}
					
					.content_related_item_overlay_text
					{
						font-size: 12px;
					}
					
		#gallery
		{
			position: relative;
			font-size: 15px;
			margin-bottom: 10px;
			overflow: hidden;
		}	
	
			#gallery .gallery_item
			{
				position: relative;
				float: left;
				width: 206px;
				text-align: center;
				margin-right: 25px;
				margin-bottom: 25px;
				height: 160px;
				vertical-align: middle;
				overflow: hidden;
			}
			
				#gallery .gallery_item:nth-child(4n)
				{
					margin-right: 0px;
				}
			
				#gallery .gallery_item img
				{
					position: relative;
					vertical-align: middle;
					cursor: pointer;
					max-width: 100%;
					max-height: 100%;
				}			

				
#tooltip_container				
{
	position: fixed;
	z-index: 10000;
}					

.tooltip_header
{
	padding: 4px 4px;
	background-color: #000000;	
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	float: left;
}

.tooltip_text
{
	padding: 4px 4px;
	background-color: #000000;	
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;	
	float: left;
}


#lang_switch
{
	position: relative;
	margin-top: 10px;
	
	overflow: hidden;
	font-size: 14px;
}

	#lang_switch div
	{
		position: relative;
		padding: 5px 5px;
		color: #ffffff;
		background-color: #000000;
		float: left;
	}
	
	.langswitch_sep
	{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	
	.view_select, .lang_select
	{
		cursor: pointer;
	}
	
	.active_select
	{
		text-decoration: underline;
	}
	
	.view_select:first-child
	{
		margin-right: 10px;
	}
	
#view_switch
{
	position: relative;
	margin-top: 10px;
	overflow: hidden;
}	
	
	#view_switch div
	{
		position: relative;
		float: left;
	} 
	
	
	
	
	.list_continent_separator
	{
		position: relative;
		width: 100%;
		float: left;
		margin-bottom: 25px;
		font-size: 20px;
		font-weight: bold;
	}

	.list_item
	{
		width: 437px;
		float: left;
		margin-right: 25px;
		margin-bottom: 25px;
		height: 500px;
		overflow: hidden;
		border-bottom: solid 1px #000000;
		padding-bottom: 15px;
		cursor: pointer;
	}
	
	/*#content_columns .list_item:nth-child(even)
	{
		width: 438px;
		margin-right: 0px;
	}*/
	
		.list_item_imgcontainer
		{
			position: relative;
			width: inherit;
			height: 290px;
			margin-bottom: 15px;
			overflow: hidden;
		}
		
			.list_item_img
			{
				position: absolute;
				left: 0px;
				top: 0px;
			}
		
		.list_item_name
		{
			margin-bottom: 15px;
		}
		
			.list_item_name span
			{
				font-size: 14px;
				padding: 4px 6px;
				background-color: #000000;
				color: #ffffff;
				display: inline-block;
			}
			
		.list_item_text a
		{
			color: inherit;
		}
		
		
	.artist_list_artist, .presskit
	{
		margin: 3px 0px;
	}	
	
		.artist_list_artist span, .presskit span
		{
			cursor: pointer;
		}
		
		.artist_list_artist span:hover, .presskit span:hover
		{
			text-decoration: underline;
		}

	
	.artist_list_header, .presskit_year
	{
		font-size: 18px;
		font-weight: bold;
		margin-top: 12px;
		margin-bottom: 4px;
	}
	
		.artist_list_header:first-child
		{
			margin-top: 0px;
		}
		
		

	.press_headline
	{
		position: relative;
		font-size: 15px;
		margin-bottom: 8px;
	}	
			
			.press_headline span
			{
				position: relative;
				padding: 4px 4px;
				background-color: #000000;
				color: #ffffff;
				display: inline-block;
			}
			
	.press_text
	{
		position: relative;
		font-size: 12px;
	}		

	
		.press_text a
		{
			color: inherit;
		}
		
	.press_login, .press_reg
	{
		position: relative;
	}	
	
		.press_reg input:focus, .press_login input:focus
		{
			outline: none;
		}
	
		.press_login table, .press_reg table
		{
			width: 100%;
			border: 0px;
			padding: 0px;
			margin-top: 3px;
		}
		
		.press_login td, .press_reg td
		{
			padding: 5px 0px 0px 0px;
			font-size: 12px;
		}
		
		
		#press_email, #press_reg_firstname, #press_reg_lastname, #press_reg_publication, #press_reg_email
		{
			width: 100%;
		}
		
		#press_login_button, #press_reg_button
		{
			position: relative;
			width: 120;
			margin-top: 5px;
			background-color: #000000;
			color: #ffffff;
			font-size: 13px;
			line-height: 25px;
			text-align: center;
			cursor: pointer;
		}
		
		#press_login_error, #press_reg_error
		{
			position: relative;
			margin-top: 10px;
			font-size: 12px;
			font-weight: bold;
		}
		
		#press_logout
		{
			position: relative;
			margin: 8px 0px 20px 0px;
			cursor: pointer;
			text-align: center;
			width: 120px;
			line-height: 25px;
			background-color: #000000;
			color: #ffffff;
			font-size: 13px;
		}
		
		.press_nologin
		{
			cursor: pointer;
			font-weight: bold;
			text-decoration: underline;
		}
		
		
		
		
#splashpage
{
	position: fixed;
	background-color: #ffffff;
	width: 900px;
	padding: 50px;
	z-index: 6000;
	top: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: auto;
	margin-left: auto;
}

	#splashpage_logo
	{
		position: absolute;
		left: 50px;
		top: 50px;
		width: 50px;
	}
	
	#splashpage_close
	{
		position: absolute;
		right: 50px;
		top: 50px;
		cursor: pointer;
		width: 25px;
	}
	
	#splashpage_img
	{
		position: relative;
		margin-top: 90px;
		width: 900px;
	}
	
	.splashpage_description
	{
		position: relative;
		margin-top: 15px;
	}
	
		.splashpage_headline
		{
			position: relative;
			margin-bottom: 15px;
			overflow: hidden;
		}	
		
			.splashpage_headline span
			{
				position: relative;
				padding: 4px 6px;
				background-color: #000000;	
				color: #ffffff;
				display: inline-block;
			}
			
		.splashpage_text
		{
			position: relative;
			line-height: 14px;
			font-size: 12px;
			color: #000000;
		}	
		
			.splashpage_text a
			{
				color: inherit;
			}

			
#lbCloseLink
{
	background: transparent url(../img/tba_close.png) no-repeat center;
	background-size: 25px 25px;
	width: 25px;
	height: 25px;
}

#lbCaption
{
	color: #000000;
}

#lbImage, #lbBottom
{
	border: 15px solid #fff;
}


#cookie_info
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 10000;
	background-color: #000000;
	color: #ffffff;
	width: 100%;
	height: 50px;
}

	#cookie_info_container
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 700px;
		height: 50px;
	}

		#cookie_info_text
		{
			position: relative;
			float: left;
			font-size: 14px;
			width: 570px;
			height: 30px;
			margin-top: 10px;
		}
		
		#cookie_info_btn
		{
			position: relative;
			float: left;
			font-size: 14px;
			width: 100px;
			margin: 10px;
			background-color: #ffffff;
			color: #000000;
			text-align: center;
			line-height: 30px;
			font-weight: bold;
			cursor: pointer;
		}
		
		
#store_cart
{
	position: relative;
	margin-top: 5px;
	overflow: hidden;
	width: 300px;
	cursor: pointer;
	display: none;
}

	#store_cart img
	{
		position: relative;
		float: left;
		padding: 4px 6px;
		background-color: #000000;
		height: 16px;	
	}
	
	#store_cart_itemcount
	{
		position: relative;
		float: left;
		color: #ffffff;
		font-weight: bold;
		padding: 4px 6px;
		background-color: #000000;
	}		
	
#cart
{
	position: relative;
}

	.cart_item
	{
		position: relative;
		width: 100%;
		border-top: solid 1px #7b7c7e;
		padding-top: 30px;
		padding-bottom: 30px;
		overflow: hidden;
	}
	
		.cart_item:first-child
		{
			border-bottom: solid 1px #7b7c7e;
			border-top: 0px;
			padding-top: 15px;
		}
		
		.cart_item:last-child
		{
			border-bottom: solid 1px #7b7c7e;
		}
		
		.cart_item_img
		{
			position: relative;
			float: left;
			max-width: 150px;
			min-height: 150px;
			margin-right: 25px;
		}
		
			.cart_item_img img
			{
				position: relative;
				width: 100%;
				vertical-align: middle;
			}
			
		.cart_item_text
		{
			position: relative;
			float: left;
			width: 380px;
			min-height: 150px;
			margin-right: 25px;
		}	
		
			.cart_item_name
			{
				position: relative;
				font-size: 16px;
				line-height: 22px;
			}
			
				.cart_item_name span
				{
					background-color: #000000;
					color: #ffffff;
					padding: 2px 6px;
				}

			.cart_item_desc
			{
				position: relative;
				margin-top: 10px;
				font-size: 12px;
			}
			
			.cart_item_remove
			{
				position: absolute;
				left: 0px;
				bottom: 0px;
				font-size: 18px;
				color: #7b7c7e;
				cursor: pointer;
				text-decoration: underline;
			}

		.cart_item_qty
		{
			position: relative;
			float: left;
			width: 150px;
			margin-right: 25px;
		}
		
			.cart_item_qty_btn
			{
				position: relative;
				float: left;
				width: 45px;
				color: #7b7c7e;
				font-size: 16px;
				text-align: center;
				line-height: 20px;
				text-decoration: underline;
				cursor: pointer;
			}
		
			.cart_item_qty_qty
			{
				position: relative;
				float: left;
				width: 60px;
				color: #000000;
				font-size: 18px;
				text-align: center;
				line-height: 20px;
			}
			
		.cart_item_price
		{
			position: relative;
			float: left;
			text-align: right;
			font-weight: bold;
			font-size: 16px;
			width: 145px;
			line-height: 20px;
		}	
		
			.cart_item_price:after, #cart_total:after
			{
				content: ' EUR';
			}

	#cart_total
	{
		position: relative;
		margin-top: 20px;
		font-size: 20px;
		font-weight: bold;
		text-align: right;
	}
	
	#cart_empty
	{
		position: relative;
		font-size: 20px;
		line-height: 100px;
		text-align: center;
		display: none;
	}
	
	#cart_checkout
	{
		position: relative;
		font-size: 20px;
		margin-top: 20px;
	}
	
		#cart_checkout span
		{
			position: relative;
			float: right;
			padding: 3px 9px;
			cursor: pointer;
			background-color: #000000;
			color: #ffffff;
		}
		
#checkout
{
	
}

	.checkout_header
	{
		position: relative;
		font-size: 15px;
		color: #ffffff;
		margin: 15px 0px;;
	}
	
		.checkout_header span
		{
			padding: 2px 6px;
			background-color: #000000;
		}
		
	
	#checkout table
	{
		position: relative;
		margin-top: 20px;
		width: 100%;
		border-collapse: separate;
	}
		
		#checkout td
		{
			padding: 0px 0px 5px 0px;
		}
		
		#checkout table input[type="text"], #checkout table select
		{
			width: 250px;
		}
		
		.checkout_spacer
		{
			width: 437px;
		}
		
		.shop_cc_exp, #checkout_cc_exp_year, #checkout_cc_exp_month
		{
			width: 80px !important;
		}
		
		.pament_method
		{
			
		}
		
		
		.checkout_sparator
		{
			border-bottom: solid 1px #000000;
			margin: 10px 0px;
		}
		
		#checkout table a
		{
			color: inherit;
		}		
		
		.shop_validation_error
		{
			position: relative;
			font-size: 17px;
			vertical-align: middle;
			font-weight: bold;
		}
		
		.checkout_shipment
		{
			display: none;
		}
		
		
	#finish_checkout, #confirm_order
	{
		position: relative;
		margin-top: 20px;
		color: #ffffff;
		font-size: 18px;
	}
	
		#finish_checkout span, #confirm_order span
		{
			padding: 2px 6px;
			background-color: #000000;
			cursor: pointer;
		}
		
	#confirm_order a
	{
		color: inherit;
		text-decoration: none;
	} 	
		
	#checkout_errors
	{
		position: relative;
		margin-top: 10px;
		font-size: 14px;
	}	
		
		
	#table_confirm
	{
		width: 100%;
	}	
	
		.confirm_item_total
		{
			position: relative;
			padding-top: 10px;
			border-top: solid 1px #000000;
		}
		
		.number_align
		{
			text-align: right;
		}
		
		.confirm_shipment
		{
			padding-top: 5px;
		}
		
		.confirm_total
		{
			position: relative;
			border-top: solid 2px #000000;
			padding-top: 10px;
			font-weight: bold;
		}
