
@font-face {
    font-family: 'blender_pro_boldbold';
    src: url('fonts/blenderpro-bold-webfont.eot');
    src: url('fonts/blenderpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blenderpro-bold-webfont.woff2') format('woff2'),
         url('fonts/blenderpro-bold-webfont.woff') format('woff'),
         url('fonts/blenderpro-bold-webfont.ttf') format('truetype'),
         url('fonts/blenderpro-bold-webfont.svg#blender_pro_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fonts/blender_probook_italic';
    src: url('fonts/blenderpro-bookitalic-webfont.eot');
    src: url('fonts/blenderpro-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blenderpro-bookitalic-webfont.woff2') format('woff2'),
         url('fonts/blenderpro-bookitalic-webfont.woff') format('woff'),
         url('fonts/blenderpro-bookitalic-webfont.ttf') format('truetype'),
         url('fonts/blenderpro-bookitalic-webfont.svg#blender_probook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}