

#center
{
	width: 320px;
}

	#center_logo
	{
		width: 100px;
	}
	
	#center_text
	{
		width: 200px;
		margin-left: 60px;
		margin-right: 60px;
	}
	
	#content_fade
	{
		opacity: 1;
	}
	
.direction_pointer
{
	font-size: 14px;
}

	#direction_pointer_collection
	{
		top: 15px;
		left: 15px;
	}
	
	#direction_pointer_program
	{
		top: 15px;
		right: 15px;
	}
	
	#direction_pointer_academy
	{
		bottom: 15px;
		right: 15px;
	}
	
	#direction_pointer_production
	{
		left: 15px;
		bottom: 15px;
	}
	
	
#content_container
{
	width: 320px;
}

	#content_loading
	{
		width: 220px;
		height: 320px;
		display: table;
	}
	
		#content_loading img
		{
			margin-left: auto;
			margin-top: auto;
			margin-right: auto;
			margin-bottom: auto;
			display: table-cell;
			vertical-align: middle;
			height: 80px;
			width: 80px;
		}
	
	#content_navigation, #content_search, #content
	{
		width: 300px;
		padding: 10px 10px 0px 10px;
	}
	
		#content
		{
			padding-bottom: 70px;
		}
	
		#content_search_input
		{
			width: 100%;
		}	
		
		#content_search_button
		{
			width: 100%;
			margin-right: 0px;
			margin-top: 10px;
		}
		
		#content_search_filters
		{
			width: 300px;
			height: auto;
			overflow: auto;
			margin-top: 0px;
		}
		
			.content_search_filter
			{
				width: 100%;
				margin-right: 0px;
				float: none;
				margin-top: 5px;
			}
			
		#content_headline
		{
			font-size: 18px;
			margin-bottom: 10px;
		}
		
		#content_header
		{
			width: 100%;
			margin-bottom: 10px;
		}
		
			#content_description
			{
				color: #ffffff;
				margin-bottom: 10px;
				background-color: #000000;
			}
			
				#content_description span
				{
					padding-right: 6px !important;
					font-size: 15px;
				}

		#content_column_left, #content_column_right, #content_column_left .module, #content_column_right .module
		{
			width: 300px;
		}		
		
		#content_column_left
		{
			margin-bottom: 10px;
		}
		
	.module
	{
		position: relative;
		top: auto !important;
		margin-bottom: 10px;
	}	
	
		.module_video_iframe
		{
			width: 300px;
			height: 169px;
		}
		
		.enum_head
		{
			width: 100px;
			background-color: #000000;
		}
		
		.enum_body
		{
			width: 195px;
			margin-left: 5px;
		}
		
		
	#content_related_header
	{
		width: 100%;
	}	
	
	#content_related_tags
	{
		width: 308px;
		margin-bottom: 20px;
	}
		
	.content_related_item, #gallery .gallery_item
	{
		width: 140px;
		height: 108px;
		margin-right: 20px;
		margin-bottom: 20px;
	}	
	
		.content_related_item:nth-child(4n), .content_related_item:nth-child(2n), #gallery .gallery_item:nth-child(4n), #gallery .gallery_item:nth-child(2n)
		{
			margin-right: 0px;
		}
		
		.content_related_item_overlay
		{
			bottom: 0px;
			width: 120px;
			padding: 5px 10px 5px 10px;
		}
		
			.content_related_item_overlay_headline
			{
				font-size: 10px;
			}
	
	.list_item
	{
		width: 100% !important;
		height: auto;
	}	
	
		.list_item_imgcontainer
		{
			height: 199px;
			width: 300px;
		}
		
		

	#bottom_menu
	{
		width: 320px;
	}
	
		.bottom_menuitem
		{
			font-size: 16px;
			margin: 0px 10px;
		}
		
		


	#menu_dongle
	{
		position: fixed;
		z-index: 9999;
		width: 75px;
		height: 59px;
		bottom: 0px;
		margin: 0px auto 0px auto;
		background-image: url('../img/mobile_menu_open.png');
	}
	
	#menu_mobile_close
	{
		position: relative;
		width: 75px;
		height: 59px;
		margin: 0px auto 0px auto;
		background-image: url('../img/mobile_menu_close.png');
	}
	
	#menu_mobile
	{
		position: fixed;
		color: #ffffff;
		background-color: 000000;
		z-index: 9999;
		left: 0px;
		overflow-y: auto;
	}
	
		.continent_menu_header
		{
			overflow: auto;
			text-align: center;
			font-size: 25px;
			margin: 10px 0px;
		}
		
			.continent_menu_header span
			{
				float: none;
				padding: 0px;
			}
			
		.continent_menu_items
		{
			max-height: none;
			height: auto;
		}
			.continent_menu_item
			{
				text-align: center;
				font-size: 17px;
				margin: 5px 0px;
			}
			
			.continent_menu_item span
			{
				float: none;
				padding: 0px;
			}
			
		.continent_menu_items.static
		{
			margin-top: 15px;
		}	
		
		#lang_switch
		{
			margin: 30px 0px 15px 0px;
			width: 320px;
			text-align: center;
		}
		
			#lang_switch div
			{
				padding: 0px;
				margin: 0px 6px;
				display: inline;
				float: none;
			}
			
			
	#orientation_overlay
	{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		display: table;
		top: 0px;
		left: 0px;
		z-index: 20000;
		
	}
	
		#orientation_overlay div
		{
			position: relative;
			display: table-cell;
			font-size: 12px;
			margin: auto;
			width: 250px;
			color: #000000;
			vertical-align: middle;
			text-align: center;
		}	

#cookie_info
{
	width: 100%;
	height: auto;
}

	#cookie_info_container
	{
		width: 100%;
		height: auto;
	}

		#cookie_info_text
		{
			float: none;
			width: auto;
			margin: 10px 10px 0px 10px;
			height: auto;
		}
		
		#cookie_info_btn
		{
			position: relative;
			float: none;
			width: 100px;
			margin: 10px auto 10px auto;
			background-color: #ffffff;
			color: #000000;
			text-align: center;
			line-height: 30px;
			font-weight: bold;
			cursor: pointer;
			height: auto;
		}	

.module_2col_image
{
	z-index: 100;
	width: 300px;
}
			
	.module_2col_image img
	{
		vertical-align: middle;
		max-width: 300px;
	}	
	
	
#content_navigation_menu
{
	display: none !important;
}


.cart_item_img
{
	float: none;
	margin-bottom: 10px;
	margin-right: 0px;
}

.cart_item_text
{
	width: 300px;
	height: auto;
	min-height: auto;
	margin-right: 0px;
	margin-bottom: 10px;
}

	.cart_item_remove
	{
		position: relative;
		margin-top: 10px;
		font-size: 16px;
	}

.cart_item_qty
{
	float: none;
	width: 300px;
	overflow: hidden;
	margin-right: 0px;
	margin-bottom: 10px;
}

	.cart_item_qty_btn
	{
		width: 120px;
	}
	
	.less
	{
		text-align: right;
	}
	
	.more
	{
		text-align: left;
	}

.cart_item_price
{
	float: none;
	width: 300px;
}



#checkout table input[type="text"], #checkout table select
{
	width: 200px;
}

#cc_error
{
	font-size: 16px;
	text-align: center;
}

#store_cart
{
	width: 50px;
	margin: auto;
}