

img
{
	border: 0px;
}
a
{
	text-decoration:none;
	color:inherit;
	border:0;
}
body
{
	-webkit-text-size-adjust: 100%;
	font-family: Helvetica;
	margin: 0px;
	padding: 0px;
	background: #e7e7e7;
	width:100%;
	height:100%;
	color:#595959;
}

.bold{font-family: Helvetica;font-weight:bold;/*font-family: 'open_sansbold';*/}
.regular{font-family: Helvetica;/*font-family: 'open_sansregular';*/}

.ptreg{font-family: Helvetica;/* font-family: 'pt_serifregular';*/}
.ptbold{font-family: Helvetica;font-weight:bold;/*font-family: 'pt_serifbold';*/}
.ptboldit{ font-family: Helvetica;font-style: italic;font-weight:bold;/*font-family: 'pt_serifbold_italic';*/}
.ptit{font-family: Helvetica;font-style: italic; /*font-family: 'pt_serifitalic';*/}

.helvit{font-family: Helvetica;font-style: italic;}

#container
{	
	width:100%;
	height:100%;
}

#cover
{

	width:100%;
	height:100%;
	margin:0px;
/*	background-image: url('../img/start_cover.png');
    background-repeat: no-repeat;
    background-size: cover;*/
    color:#ffffff;
    letter-spacing:1px;   
    text-align:center;
    padding-top:0px;
    position:relative;
    z-index:100;
    
}

#cover_image
{

	width:100%;
	height:100%;
	margin:0px;
	background-image: url('../../items/cop21/PA220074.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
    letter-spacing:1px;   
    text-align:center;
    padding-top:0px;
    position:absolute;
    z-index:0;
    
}


#cover_bg
{
	width:100%;
	height:600px;
	position:absolute;
	background:#000000;
	z-index:1;
}

#cover_op
{
	position:absolute;
	width:100%;
	height:100%;
	background:#000000;
-moz-opacity: 0.30;
-khtml-opacity: 0.30;
opacity: 0.30;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
filter:alpha(opacity=30);
z-index:1;
}


#language_holder
{
	position:absolute;
	right:20px;
	top:20px;
	color:#ffffff;
	overflow:hidden;
	z-index:100;
}

.language_item
{
	float:left;
	margin-right:5px;
	
	font-family: 'open_sansregular';
	
}

#text_holder
{
	width:800px;
	padding:50px 0px 50px 0px;
	overflow:hidden;
	margin:0px auto;
}

.text_item
{
	width:250px;
	margin-right:25px;
	float:left;
}

#gallery_holder
{
	background:#ffffff;
	padding:50px 0px 150px 0px;
	width:100%;
	text-align:center;
}

#worlds_holder
{
	background:#ffffff;
	padding:50px 0px 50px 0px;
	width:100%;
	text-align:center;
}

#worlds_content_holder
{
	padding:10px 0px;
	width:800px;
	margin:50px auto;
	overflow:hidden;
}

.worlds_item
{
	width:350px;
	float:left;
	text-align:left;
}


#image_holder
{
	padding:10px 0px;
	width:800px;
	margin:5px auto;
	overflow:hidden;
}

.image_item_holder
{
	width:250px;
	height:170px;
	margin-right: 25px;
	margin-bottom:25px;
	overflow:hidden;
	float:left;
	background-repeat: no-repeat;
background-size: cover;
}

.image_item
{
	width:100%;
}

#olafur_holder
{
	background:#ffffff;
	padding:50px 0px 50px 0px;
	width:100%;
	text-align:center;
}

#olafur_content_holder
{
	width:800px;
	margin:0px auto;
	padding:0px;
	text-align:center;
	overflow:hidden;
}

.olafur_text
{
	margin-top:50px;
	overflow:hidden;
	font-size:14px;
}

.olafur_item
{
	width:233px;
	margin-right:50px;
	text-align:left;
	float:left;
}

#partner_bg
{
	background:#ffffff;
}

#partners_holder
{
	width:700px;
	margin:0px auto;
	padding:50px 0px 20px 0px;
	text-align:center;
	overflow:hidden;
	position:relative;
	
}

.partner_item
{
	float:left;
	text-align:center;
	width:200px;
	
}


.partner_image
{
	margin:10px auto;
	margin-bottom:30px;
}

.partner_button
{
	color:#000000;
	text-align:center;
	width:170px;
	height:30px;
	line-height:30px;
	cursor:pointer;
	font-family: Helvetica;
	font-weight:bold;
	margin:5px auto;
	text-decoration:underline;
}

.x
{
	position:absolute;
	width:100px;
	top:300px;left:290px;
}

.x_white
{
	position:absolute;
	width:100px;
	top:240px;left:340px;
}


#contact
{
 background: #364999;
 color:#ffffff;
 width:100%;
 
}

#contact_holder
{
	padding:50px 50px 150px 50px;
	width: 700px;
	text-align:center;
	margin:0px auto;
	overflow:hidden;
	position:relative;
}

.contact_item
{
	float:left;
	margin-top:50px;
	width:220px;
	text-align:center;
}

.social_holder
{
	margin-top:40px;
}

.social_img
{
	margin-right:20px;
	cursor:pointer;
	width: 30px;
}


#impressum_holder
{
	width:400px;
	margin:50px auto 0px auto;
	text-align:center;
	padding-bottom:50px;
}

#impressum
{
	cursor:pointer;
}

#impressum_text
{
	display:none;
}

.collapsable
{
	cursor:pointer;
}

.collapse_holder
{
	display:none;
}


#hashtag_holder
{
	
    padding: 50px 0px 50px 0px;
    width: 100%;
    text-align: center;
}

#hashtags
{
	padding: 10px 0px;
    width: 100%;
    min-height:1000px;
    margin: 5px auto;
    margin-top:50px;
    overflow: hidden;
}

.card
{
	position:relative;
	font-size:12px;
	font-family: 'Helvetica';
	color:#595959;
	width:25%;
	height:250px;
	overflow:hidden;
	margin:0px;
	padding:0px;
	
}
.picture_holder
{
	width:100%;
	height:100%;
	position:relative;
	z-index:10;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_back_bg
{
	position:absolute;
	left:0px;top:0px;
	width:100%;
	height:100%;
	background:#ffffff;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
	z-index:100;
	display:none;
}

.card_back
{
	position:absolute;
	left:0px;top:0px;
	width:92%;
	height:92%;
	margin:4%;
	z-index:200;
	text-align:left;
	display:none;
	overflow:hidden;
}

.card_front
{
	position:relative;
	left:0px;top:0px;
	width:88%;
	height:88%;
	margin:6%;
	z-index:200;
	text-align:left;
	
}


.name_holder
{
	float:left;
	margin-right:5px;
}

.date_holder
{
	float:left;
}

.card_text
{
	font-size:10px;
}

#hashtag_jump
{
	cursor:pointer;
}

#structure_holder
{
	
	padding:50px 0px 50px 0px;
	width:100%;
	text-align:center;
}

#tba_holder
{
	background:#fff;
	padding:50px 0px 50px 0px;
	width:100%;
	text-align:center;
}

#current_holder
{
	background:#ffffff;
	padding:50px 0px 50px 0px;
	width:100%;
	text-align:center;
}

#press_holder
{
	background:none;
	padding:50px 0px 50px 0px;
	width:100%;
	text-align:center;
}

#academy_holder
{
	background:none;
	padding:50px 0px 50px 0px;
	width:100%;
	text-align:center;
}