
.has_placeholder:empty:not(:focus):before
{
    content: attr(data-text);
	font-size: 14px;
	color: #cecece;
	font-weight: bold;
}

.unselectable
{
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

#control_container
{
	position: absolute;
	left: 970px;
	top: 100px;
}

	#module_container
	{
		position: relative;
		margin-bottom: 100px;
	}
	
		#module_container ul
		{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
		}
		
			#module_container li
			{
				width: 200px;
				line-height: 40px;
				border: solid 2px #000000;
				text-align: center;
				background-color: #cecece;
				margin-top: 5px;
				cursor: pointer;
			}
			
			#module_container li:hover
			{
				font-weight: bold;
			}
			
			#module_container li:first-child
			{
				margin-top: 0px;
			}
			
	#button_container
	{
		position: relative;
	}		
	
		#button_container ul
		{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
		}
		
			#button_container li
			{
				width: 200px;
				line-height: 40px;
				border: solid 2px #cecece;
				text-align: center;
				background-color: #000000;
				margin-top: 5px;
				cursor: pointer;
				color: #ffffff;
			}
			
			#button_container li:hover
			{
				font-weight: bold;
			}
			
			#button_container li:first-child
			{
				margin-top: 0px;
			}

#item_container
{
	position: relative;
	width: 902px;
	float: left;
	padding-right: 290px;
}

	.popup_edit
	{
		position: fixed;
		z-index: 10000;
		top: 100px;
		width: 600px;
		height: auto;
		left: 50%;
		margin-left: -300px;
		display: none;
		background-color: #cecece;
		border: solid 2px #000000;
		padding: 15px;
		overflow: hidden;
	}
	
		.popup_edit .header
		{
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
			float: left;
			width: 100%;
		}
		
		.popup_edit_container
		{
			position: relative;
			float: left;
			width: 400px;
			margin-right: 15px;
		}
		
		.popup_edit_controls
		{
			position: relative;
			float: left;
			width: 185px;
		}
		
			.popup_edit_button
			{
				width: 181px;
				border: solid 2px #000000;
				background-color: #ffffff; 		
				margin-bottom: 5px;		
				text-align: center;
				line-height: 25px;
				cursor: pointer;
			}
			
			.popup_edit_button:last-child
			{
				margin-bottom: 0px;
			}

		#popup_edit_text textarea, #popup_edit_html textarea, #module_store_editor
		{
			font-size: 14px;
			resize: none;
			width: 400px;
			border: 0px;
			height: 80px;
		}
		
		#module_store_editor
		{
			width: 300px;
		}
		
		#popup_module_store select
		{
			width: 300px;
		}
		
		.popup_edit #file_upload_button
		{
			display: none;
		}
		
	#popup_module_text
	{
		width: 678px;
	}	
	
		#popup_module_text .popup_edit_container
		{
			width: 478px;
		}
		
	#popup_module_image
	{
		width: 638px;
	}
	
		#popup_module_image .popup_edit_container
		{
			width: 438px;
		}
		
		#popup_module_image img
		{
			vertical-align: middle;
			width: 438px;
		}
		
	#popup_module_download
	{
		
	}	
	
		#popup_module_download .progress
		{
			display: none;
		}
		
	#popup_related_tags
	{
		
	}
	
		#related_tags_category, #related_items_category
		{
			margin-bottom: 5px;
			border: solid 2px #000000;
		}
	
		#popup_related_tags .related_tags_metatags, #popup_related_items .related_items_metatags, #related_items_itemlist, #related_items_selected
		{
			position: relative;
			background-color: #ffffff;
			border: solid 2px #000000;
			overflow: hidden;
			padding: 2px 0px;
			display: none;
			min-height: 29px;
			max-height: 200px;
			overflow-y: auto;
		}
		
		#related_items_itemlist, #related_items_selected
		{
			display: block;
			margin-top: 5px;
		}
		
		#popup_related_tags .related_tags_metatags span, #related_tags_selected span, #related_items_tags_selected span, #popup_related_items .related_items_metatags span, #related_items_itemlist span, #related_items_selected span
		{
			position: relative;
			padding: 2px 4px;
			background-color: #000000;
			text-align: center;
			float: left;
			color: #ffffff;
			margin: 2px 4px;
			cursor: pointer;
		}
		
		#related_tags_selected, #related_items_tags_selected
		{
			position: relative;
			margin-top: 10px;
			background-color: #ffffff;
			border: solid 2px #000000;
			overflow: hidden;
			padding: 2px 0px;
			min-height: 29px;
		}
		
		#related_tags_external
		{
			position: relative;
			margin-bottom: 10px;
			overflow: hidden;
		}
		
			#external_tags_text, #external_tags_url
			{
				position: relative;
				overflow: hidden;
				margin-bottom: 5px;
			}
			
			#external_tags_text div, #external_tags_url div
			{
				position: relative;
				float: left;
				width: 70px;
				font-size: 14px;
			}
			
			#external_tags_text input, #external_tags_url input
			{
				position: relative;
				float: left;
				width: 324px;
			}
			
			#external_tag_add
			{
				width: 100px;
				float: right;
			}
			

	#popup_gallery
	{
		
	}	
	
		#gallery_upload_button
		{
			margin-bottom: 10px;
			border: solid 2px #000000;
			background-color: #ffffff;
			width: 200px;
			text-align: center;
			line-heigt: 40px;
			cursor: pointer;
		}
		
		#gallery_upload_input
		{
			display: none;
		}
		
		#gallery_items
		{
			border: solid 2px #000000;
			background-color: #ffffff;
			min-height: 29px;
			overflow: hidden;
		}
		
			#gallery_items .gallery_item
			{
				position: relative;
				float: left;
				width: 387px;
				height:	50px;
				line-height: 50px;
				text-align: center;
				margin: 5px 5px 5px 4px;
				overflow: hidden;
			}
					
				#gallery_items .gallery_item img
				{
					position: absolute;
					vertical-align: middle;
					max-width: 90px;
					max-height: 50px;
					left: 0px;
					top: 0px;
				}			
				
				#gallery_items .gallery_item textarea
				{
					position: absolute;
					left: 95px;
					top: 0px;
					resize: none;
					font-size: 10px;
					margin-left: 5px;
					width: 286px;
					height: 44px;
					padding: 2px;
					border: solid 1px #cecece;
				}
		
	#popup_module_html
	{
		
	}		
		
		#popup_module_html textarea
		{
			font-size: 14px;
			resize: none;
			width: 400px;
			border: 0px;
			height: 80px;
		}	
		
	#item_headline
	{
		position: relative;
		width: 900px;
		border: solid 1px #cecece;
		margin-bottom: 15px;
		font-size: 30px;
		font-weight: bold;
		cursor: pointer;
	}
	
	#item_detail
	{
		position: relative;
	}
	
		#item_detailimg
		{
			position: relative;
			width: 900px;
			height: auto;
			cursor: pointer;
			margin-bottom: 5px;
			border: solid 1px #cecece;
		}
		
			#item_detailimg img
			{
				width: 900px;
				vertical-align: middle;
			}
			
			#item_detailimg input[type="file"]
			{
				display: none;
			}
		
		#item_detailimg_credits
		{
			position: relative;
			width: 900px;
			margin-bottom: 15px;
			border: solid 1px #cecece;
			text-align: right;
			cursor: pointer;
			font-size: 10px;
		}	
			
		#item_header
		{
			position: relative;
			width: 900px;
			margin-bottom: 15px;
			border: solid 1px #cecece;
			cursor: pointer;
		}	
	
			#item_header span
			{
				position: relative;
				padding: 4px 6px;
				background-color: #000000;
				color: #ffffff;
				display: inline-block;
			}
			
		#item_detail_html
		{
			position: relative;
			width: 900px;
			border: solid 1px #cecece;
			cursor: pointer;
			margin-bottom: 15px;
			z-index: 100;
		}	
		
			#item_detail_html_overlay
			{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 900px;
				z-index: 110;
				height: 100%;
			}
			
			#item_detail_html_content
			{
				position: relative;
				width: 900px;
				z-index: 100;
			}
			
			#item_detail_html_content_mobile
			{
				position: relative;
				width: 300px;
				z-index: 100;
				display: none;
			}
			
		#item_detail_type_switch
		{
			position: absolute;
			top: 0px;
			left: 905px;
			border: solid 1px #cecece;
		}	
		
			.item_detail_type_switch
			{
				position: relative;
				padding: 5px 2px;
				font-size: 10px;
				cursor: pointer;
			}
			
			.item_detail_type_active
			{
				text-decoration: underline;
				font-weight: bold;
			}
		
	#col_container
	{
		position: relative;
		width: 100%;
		overflow: hidden;
		font-size: 30px;
		margin-bottom: 15px;
	}	
	
		.col
		{
			position: relative;
			float: left;
			width: 440px;
			border: solid 1px #cecece;
		}
		
		#col_left
		{
			margin-right: 19px;
			width: 439px;
		}
		
			#col_left .module
			{
				width: 437px;
			}
		
			#col_right .module
			{
				width: 438px;
			}

		.module
		{
			position: absolute;
			float: left;	
			cursor: pointer;
			border: solid 1px #cecece;	
			line-height: 14px;
		}
		
			.module a
			{
				color: inherit;
			}
		
			.module_text
			{
				font-size: 12px;
				color: #000000;	
				z-index: 1000;
			}
			
			.module_image
			{
				z-index: 100;
			}
						
				.module_image img
				{
					vertical-align: middle;
					width: 100%;
				}
				
				.module_image input
				{
					display: none;
				}
			
			.module_2col_image
			{
				z-index: 200;
				width: 900px;
			}
			
				.module_2col_image img
				{
					max-width: 900px;
				}
			
				.module_2col_image input
				{
					display: none;
				}

			
			.module_bulletpoint
			{
				overflow: hidden;
				font-size: 12px;
				z-index: 1000;
			}
			
				.enum_head
				{
					float: left;	
					width: 125px;
				}
				
					.enum_head span
					{
						padding: 4px 4px;
						background-color: #000000;
						color: #ffffff;
						float: left;
						text-transform: uppercase;
					}
				
				.enum_body
				{
					float: left;
					width: 302px;
					padding-top: 4px;
					margin-left: 10px;
				}
				
			.module_video
			{
	
			}	
			
				.module_video_iframe
				{
					width: 437px;
					height: 246px;
					z-index: 100;
					vertical-align: middle;
				}
				
				#col_right .module_video_iframe
				{
					width: 438px;
				}
				
				.module_video_overlay
				{
					position: absolute;
					width: 437px;
					height: 246px;
					z-index: 1000;
				}
				
				#col_right .module_video_overlay
				{
					width: 438px;
				}
				
			.module_html
			{
	
			}
			
				.module_html_overlay
				{
					position: absolute;
					width: 437px;
					height: 100%;
					z-index: 1000;
				}
				
				#col_right .module_html_overlay
				{
					width: 438px;
				}
				
				.module_html_content
				{
					z-index: 100;
				}

				.module_html_content:empty:not(:focus):before
				{
				    content: attr(data-text);
					color: #cecece;
					font-weight: bold;
				}
				
			.module_download_field
			{
				position: relative;
				padding: 2px 6px;
				background-color: #000000;
				color: #ffffff;
				display: inline;
				font-size: 12px;
				text-transform: uppercase;
			}	
				
			#module_html_container
			{
				display: none;
			}	
				
			.module_headline
			{
				font-size: 12px;	
			}	
				
				.module_headline span
				{
					position: relative;
					padding: 2px 6px;
					background-color: #000000;
					color: #ffffff;
					cursor: pointer;
				}
				
			.module_store
			{
				
			}	

				.module_store_text
				{
					font-size: 12px;	
					border-bottom: solid 1px #000000;
					text-transform: uppercase;
					padding-bottom: 1px;
					margin-bottom: 10px;
					line-height: 14px;
				}
				
				.module_store_button
				{
					position: relative;
					padding: 2px 6px;
					background-color: #000000;
					color: #ffffff;
					display: inline;
					font-size: 12px;
					margin-right: 10px;
				}	
				
				
			
			
	#item_rel
	{
		position: relative;
		overflow: hidden;
	}
		
		#item_rel_header
		{
			position: relative;
			font-size: 15px;
			border-bottom: solid 1px #000000;
			margin-bottom: 10px;
		}
		
		#item_rel_tags
		{
			overflow: hidden;
			margin-bottom: 10px;
			overflow: hidden;
			border: solid 1px #cecece;
			cursor: pointer;
			width: 908px;
			margin-left: -4px;
		}
		
			#item_rel_tags span
			{
				padding: 4px 4px;
				background-color: #000000;
				color: #ffffff;
				font-size: 12px;
				text-transform: uppercase;
				margin: 2px 4px;
				cursor: pointer;
				display: inline-table;
				
			}
			
		
		#item_rel_items
		{
			border: solid 1px #cecece;
			overflow: hidden;
			cursor: pointer;
		}
		
			.item_rel_item
			{
				position: relative;
				float: left;
				width: 206px;
				height: 160px;
				margin-right: 25px;
				margin-bottom: 25px;
				text-align: center;
				font-size: 20px; 
				overflow: hidden;
			}
			
				.item_rel_item:nth-child(4n)
				{
					margin-right: 0px;
				}
			
				.item_rel_item img
				{
					text-align: center;
					max-width: 100%;
					max-height: 100%;
					z-index: 100;
					cursor: pointer;
				}
				
				.item_rel_item_name
				{
					position: absolute;
					z-index: 1000;
					top: 15px;
					max-height: 145px;
					overflow: hidden; 
					font-size: 12px;
					text-shadow:
						-1px -1px 0 #ffffff,
						1px -1px 0 #ffffff,
						-1px 1px 0 #ffffff,
						1px 1px 0 #ffffff; 
					font-weight: bold;
					text-align: left;
					width: 196px;
					left: 5px;
					cursor: pointer;
				}
				
	#gallery
	{
		position: relative;
		font-size: 15px;
		border: solid 1px #cecece;
		margin-bottom: 10px;
		cursor: pointer;
		overflow: hidden;
	}	
	
		#gallery .gallery_item
		{
			position: relative;
			float: left;
			width: 206px;
			height: 160px;
			text-align: center;
			margin-right: 25px;
			margin-bottom: 25px;
			vertical-align: middle;
			overflow: hidden;
		}
		
			#gallery .gallery_item:nth-child(4)
			{
				margin-right: 0px;
			}
		
			#gallery .gallery_item img
			{
				position: relative;
				vertical-align: middle;
				z-index: 10;
				max-width: 100%;
				max-height: 100%;
			}
			
			.gallery_item_credits
			{
				position: relative;
			}
			
			#gallery .gallery_item div
			{
				position: absolute;
				width: 196px;
				max-height: 145px;
				right: 5px;
				z-index: 20;
				text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
				top: 15px;
				font-weight: bold;
				font-size: 12px;
				overflow: hidden;
				text-align: right;
			}
			
			
#detail_img_dialog
{
	display: none;
}

	/*.ui-widget-header
	{
		border: 1px solid #cecece;
		background: #cecece;
	}
	
		.ui-widget-header span
		{
			color: #000000;
		}


	.ui-corner-all
	{
		border-radius: 0px;
	}
	
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	{
		color: #000000;
		border: none;
		background: none;
		right: 0px;
	}
	
	.ui-button-icon-primary.ui-icon.ui-icon-closethick
	{
		display: none;
	}
	
	.ui-widget-header span
	{
		
	}*/


	.ui-dialog
	{
		background-color: #cecece;
		border-radius: 0px;
		font-family: 'helvetica';
		outline: none;
		border: solid 1px #000000;
		z-index: 1001;
	}

	.ui-dialog-titlebar
	{
		border: 0px;
		background: #000000;
		border-radius: 0px;
		padding: 5px;
	}
	
	.ui-dialog-title
	{
		color: #ffffff;
		font-size: 15px;
		font-weight: bold;
		float: left;
	}
	
	.ui-dialog-titlebar-close
	{
		display: none;
	}
	
	.ui-dialog-content
	{
		font-size: 12px;
		background: #cecece;
		color: #000000;	
		padding: 5px;
		border: 0px;
	}
	
	.ui-dialog-buttonpane
	{
		background: #cecece;
		padding: 5px;
		border: 0px;
		border-top: solid 1px #000000;
	}
	
	.ui-dialog-buttonset button
	{
		float: right;
		margin-left: 5px;
		border-radius: 0px;
		border: solid 1px #000000 !important;
		font-size: 13px !important;
		color: #ffffff !important;
		background: #000000 !important;
		outline: none;
	}
	
		.ui-dialog-buttonset button:hover
		{
			background: #000000 !important;
		}